.container{ 
    position: relative;    
    width: 100%;
    height: 100%;
    background-color: var(--color-blue-create-user);  
    background-color: #0183D9;
}
.logo__sist{ 
    height: 83.26px;
    width: 100%;
    margin-bottom: 58.82px;  
}
.logo{
    width: 182.75px;
    height: 83.26px;
    margin:27px 75.25px 58.82px 84px;        
}
.header{    
    width: 87.5rem;
    height: 6.25rem;    
    background-color:var(--color-blue-create-user);
    box-shadow: 0.13rem;   
    box-shadow: 0.13rem 0.13rem 1.56rem 0 rgba(56, 54, 54, 0.5);
    background-color: transparent;
}  
.header__logo-user{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.header__logo{
    margin-top: 1.06rem;
    margin-left: 2.13rem;
    background-color: #0183D9;
}
.login{
    width: 7.5rem;
    height: 4.09rem;   
}
.header__icon-user img{
    margin-top: 1.69rem;
    margin-left: 62.13rem;    
}
.user{
    width: 2.85rem;
    height: 2.85rem;
}
.header__text{
    margin-top: 1.74rem;
    margin-right: 4.63rem;    
}
.header__text h2{
    font-size: 0.89rem;
    font-weight: 600;
    color: var(--color-white-create-user);
    margin-left:15px;
}
.header__text p{
    font-size: 0.81rem;
    font-weight:100;
    color: var(--color-white-create-user);
    margin-left:15px;
}
form{    
    display: flex;
    flex-direction: column;  
    max-width: 350px;      
    height:480px;
    background-color: #EAEAEA;     
    border-radius: 1.25rem;
    margin-left:525px;
    margin-top:18px;  
} 
.input__fields{
    position: relative;
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;     
}
/*input{       
    width: 290px;
    height: 40px;    
    /* font-weight: 500;
    font-size: 14.29px;
    color: #000000;
    border-radius: 20px;
    outline: none; 
    border: none;
    transition: 5s ease-in-out; 
    margin-bottom:30.49px;
} */
.input__fields input{ 
    width: 91.2%;
    height:2.5rem;
    border-radius: 1.25rem; /*20px*/
    margin-bottom: 1.9rem;/* 30.49px*/
    outline: none; 
    margin-left: 10px; 
    left: 15px;
    padding: 0 0 0 24px;
    
   /*font-size: 0.89rem;/*14.29px*/
   /* outline: none;
    font: 0.9rem;
    color: #000000;
    height: 2.5rem; /*40px*/    
}
label{
    position: absolute;
    width: 290px;
    height: 40px;    
    left: 40px;
    color:#000000;
    font-weight: 500;    
    transform: translateY(-5px);
    transition: 0.2 ease-in-out; 
    font-size: 14.29px; 
    outline: none;     
}
.span-required{
    display: none;
    margin:1px 0 0 1px;
    color: hsl(12, 92%, 44%); 
    font-size: 14px;
    position: absolute;    
    top: 40px;
    left: 62px;
}
.button{
    display: flex;
    justify-content: center;
}
form input[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91.2%;
    height:2.5rem;
    margin-top:32.94px ;
   /* margin-top:1.39rem; 32.49px;*/
    /* margin: 63.43px 15px 0 15px; */
    padding: 0.4rem;    
    border-radius: 20px;
    background-color:#0183D9;
    font-weight: 600;    
    color:#FFFFFF;   
    cursor: pointer;
    transition: ease-in-out 0.20s; 
}
form input[type="submit"]:hover{
    letter-spacing: 0.03rem;
    background-color:rgba(1, 131, 217, 0.8);    
    color: #EAEAEA;
}
.forget__password a{
    display: flex;
    justify-content: center;
    margin-top: 1.9rem;
    font-size: 0.75rem;
    color:#000000;
    font-weight: 500;
} 
a:hover{
    color: #0183D9;
    letter-spacing: 0.03rem;
} 

/* .input__container{
    background: #98d901;      
} */


/* .input__container{
    display: grid;
    position:column;
    justify-content: center;
    align-items: center;
} */

input{     
    width: 290px;
    height: 40px;    
    font-weight: 500;
    font-size: 14.29px;
    color: #000000;
    border-radius: 20px;
    outline: none; 
    border: none;
    transition: 5s ease-in-out; 
    margin-bottom:30.49px;       
}
/* label{
    position: absolute;
    width: 290px;
    height: 40px;    
    left: 15px;
    color:#000000;
    font-weight: 500;
    font-style: normal;
    transform: translateY(10px);
    /* font-size: 14.29px;  
    transform: translateY(18px);
    transition: 0.25 ease-in-out;  
}*/
input:focus + label{ 
    transform: translateY(-35px) scale(0.8);
    left: 14px;
    /*width: 290px;*/
    /* color:#464545; */
    font-weight: 800;        
    font-size:16px; 
    transition: 0.7s ease-in-out;    
}
input:not(:placeholder-shown) + label{    
    transform: translateY(-35px) scale(0.8);
    left: 14px;
    width: 290px;
    color:  #464545; /*#e90505;*/   
    font-weight: 800;        
    font-size: 16px;    
}
input:not(:placeholder-shown){
    color: #464545;/* #0183d9; */
    font-weight: 700;        
    font-size:14.29px; 
    left:10px; 
    padding:0 0 0 25px ;  
} 
input::placeholder{
    color: transparent;
} 
/* .button input{
    width: 290px;
    height: 40px;
    border-radius: 20px;
    background:  rgba(1, 131, 217, 1);
    font-weight: 600;
    font-style: normal;
    color:#FFFFFF;   
    cursor: pointer;
    transition: ease-in-out 0.20s;    
} */
/* .button input:hover{
    background-color:rgba(1, 131, 217, 0.85);    
    color: #EAEAEA;
} */
/* .forget__password a{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 31px;
    font-size: 12px;
    color:#000000;
    font-weight: 500;
} */
/* a:hover{
    color: #0183D9;
} */ 

 /* @media(max-width:1220px){
    container{      
       margin: 0 10px 0 10px;   
    } 
    form{
        width: 350px; 
        margin: 0 5px 0 5px; 
    }
}*/
  /* @media(min-width:325px){
        .container{          
           padding: 0 10px 0 10px;                  
        }
        form{
            width: 300px; 
            padding: 0 10px 0 10px; 
        }  
} */
 /* @media(min-width:300px){
    .container{          
       padding: 0 10px 0 10px;             
    }
    form{
        width: 300px; 
        padding: 0 10px 0 10px; 
    }  
} */
